:root {
    --heading-font-family: "Montserrat", sans-serif;
    --body-font-family: "Roboto", sans-serif;

    //fonts
    --base-font-weight: 400;

    --p: 1.25rem;
    --p1: 1rem;
    --p2: 0.875rem;
    --p3: 0.75rem;

    --h1: 3rem;
    --h2: 2rem;
    --h3: 1.5rem;

    //colors
    --primary-blue: #99c6ef;
    --secondary-blue: #3d72a7;
    --ternary-blue: #284d73;
    --header-background-blue: #517f99;
    --pale-blue: #f1f5f8;
    --dark-text-blue: #517f99;

    //box shadows

    //default
    --box-shadow-default: 1px 0px 4px 4px rgba(81, 127, 153, 0.2);

    //expired
    --box-shadow-expired: 1px 0px 4px 4px rgba(214, 127, 105, 0.2);

    //expiring
    --box-shadow-expiring: 1px 0px 4px 4px rgba(204, 158, 73, 0.2);

    //complete
    --box-shadow-complete: 1px 0px 4px 4px rgba(86, 197, 160, 0.2);

    //end box shadows

    --button-primary-blue-shadow: rgba(40, 77, 115, 1);

    --todo-item: #87a6c6;
    --expired: #cea09d;
    --expiring: #c7c193;
    --complete: #87bac6;
    --red: #a75757;
    --orange: #e7a37f;
    --green: #6cb69d;

    --white: #fff;
    --black: #000;
    --light-blue-text: #eef6fe;
    --secondary-button-bcg: #fff0e9;
    --secondary-button-color: #fa874a;
    --filter-input-field-bcg: #e6edf3;

    --body-background: #dee8f1;
}
